<%- include('includes/head') %>
    <%- include('includes/nav') %>
        <%- include('includes/botaoVoltar') %>


            <style>
                .container-duvidas img {
                    background-color: #3CDDDD;
                    border-radius: 15px;
                    padding: 10px;
                    margin: 0 15px 0 0;
                }

                .container-duvidas #titulo {
                    display: flex;
                    align-items: center;

                }


            </style>

            <section class="container-duvidas">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 my-3">
                            <div id="titulo">
                                <img class="img-thumbnail" src="/assets/img/conversation 1.png" alt="">
                                <h1>Dúvidas</h1>
                            </div>
                            <div class="row">
                                <div class="col-lg my-5">
                                    <% if(user) { %>
                                        
                                        <form class="form-duvias" action="https://api.staticforms.xyz/submit"
                                            id="formulario-duvidas" method="POST">
                                            <div class="mb-3">
                                                <input type="hidden" name="accessKey"
                                                    value="aeaf87ce-bbd9-49b3-a43d-a554b68eae5c"> <!-- Required -->
                                                <label class="form-label" for="nome-duvidas">Nome:</label>
                                                <input class="form-control" type="text" id="nome-duvidas" name="name"
                                                    value="<%= user.inputNome %>">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="email-duvidas">Email:</label>
                                                <input class="form-control" type="email" id="email-duvidas" name="email"
                                                    value="<%= user.email %>" placeholder="exemplo@exemplo.com">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="descricao-duvidas">Descrição:</label>
                                                <textarea class="form-control" name="message" id="descricao-duvidas"
                                                    cols="30" rows="10"
                                                    placeholder="Descreva sua dúvida aqui."></textarea>
                                            </div>
                                            <input type="hidden" name="redirectTo" value="">
                                            <div class="d-flex justify-content-end">
                                                <button type="submit" class="btn btn-success g-3 m-2"><svg xmlns="http://www.w3.org/2000/svg"
                                                    width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                                    <path
                                                      d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                                  </svg> Salvar</button>
                                                <button type="submit" class="btn btn-danger g-3 m-2" action="/home/index"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                    class="bi bi-x" viewBox="0 0 16 16">
                                                    <path
                                                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                  </svg> Cancelar</button>
                                              </div>


                                        </form>

                                        <% } else { %>
                                            <form class="form-duvias" action="./email-enviado.ejs"
                                                id="formulario-duvidas" method="POST" href="https://api.staticforms.xyz/submit">
                                                <div class="mb-3">
                                                    <input type="hidden" name="accessKey"
                                                        value="aeaf87ce-bbd9-49b3-a43d-a554b68eae5c"> <!-- Required -->
                                                    <label class="form-label" for="nome-duvidas">Nome:</label>
                                                    <input class="form-control" type="text" id="nome-duvidas"
                                                        name="name">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="email-duvidas">Email:</label>
                                                    <input class="form-control" type="email" id="email-duvidas"
                                                        name="email" placeholder="exemplo@exemplo.com">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="descricao-duvidas">Descrição:</label>
                                                    <textarea class="form-control" name="message" id="descricao-duvidas"
                                                        cols="30" rows="10"
                                                        placeholder="Descreva sua dúvida aqui."></textarea>
                                                </div>
                                                <input type="hidden" name="redirectTo" value="">
                                                <div class="d-flex justify-content-end">
                                                    <button type="submit" class="btn btn-success g-3 m-2"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                                        <path
                                                          d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                                      </svg> Salvar</button>
                                                    <button type="submit" class="btn btn-danger g-3 m-2" action="/home/index"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                        class="bi bi-x" viewBox="0 0 16 16">
                                                        <path
                                                          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                      </svg> Cancelar</button>
                                                  </div>


                                            </form>
                                            <% } %>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <%- include('includes/footer') %>