<%- include('includes/head') %>
  <%- include('includes/nav') %>
    <%- include('includes/botaoVoltar') %>

      <style>
        .card-title {
          background-color: #3CDDDD;
          border-radius: 15px;
          height: 70px;
          width: 90px;
          font-size: 50px;
          color: #F0F0F0;
        }
      </style>

      <div class="container align-items-center" style="margin-top: 20px;">
        <div class="d-flex">
          <div class="p-2 w-10 align-self-center">
            <img src="http://localhost:3000/assets/img/icone-KnowSys.png" alt="Foto de perfil">
          </div>
          <div class="p-2 flex-shrink-1 align-self-center">
            <h1>
              Bem-vindo(a), <%= user.inputNome %>
            </h1>
            <div class="container rounded" style="background: #F0F0F0; padding: 10px 15px;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni inventore reprehenderit iusto fugiat,
              distinctio pariatur beatae fuga. Perferendis, in blanditiis!
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center my-4">Temas mais acessados</h2>
            </div>
          </div>

          <% instrucao.sort((a, b)=> b.contador - a.contador) %>
            <!-- Ordena as instruções pelo contador de forma decrescente -->
            <% if (instrucao.length> 0) { %>
              <div class="card-deck mb-3 text-center">
                <% instrucao.slice(0, 6).forEach((instrucao)=> { %>
                  <!-- Mostra apenas as 4 primeiras instruções com contador maior -->
                  <% if (instrucao.inputCnpjEmpresa==user.inputCnpjEmpresa) { %>
                    <div class="card mb-4 box-shadow">
                      <div class="card-deck">
                        <div class="card-body">
                          <h5 class="card-title mx-auto">
                            <%= instrucao.categoriaInstrucao.substr(0, 1) %>
                          </h5>
                        <a style="color: black;" href="/instrucao2/index/<%= instrucao._id %>"><small
                            class="text-body-secondary">
                            <%= instrucao.categoriaInstrucao %>
                          </small></a>
                      </div>
                      </div>
                      
                    </div>
                    <% } %>
                      <% }); %>
              </div>
              <% } else { %>
                <p class="text-center lead">Não existem instruções cadastradas.</p>
                <% } %>
        </div>



        <%- include('includes/footer') %>