<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">KnowSys</h1>
      <p class="text-center lead">Instruções estão abaixo</p>
      <button type="button" class="btn btn-primary"><a href="/novaInstrucao/index" style="text-decoration: none; color: white;">Criar nova instrução.</a></button>
      <div class="responsive-table">
        <table class="table my-3">
      <tr>
        <th scope="col">Categoria</th>
        <th scope="col">Titulo</th> 

<!--   ADICIONAR O IF PARA USUARIO ADMIM       -->
        <th scope="row" colspan="2">Opções</th>
<!--   ADICIONAR O IF PARA USUARIO ADMIM       -->

      </tr>
    <tr>
      <%- include('includes/messages') %>
      <% if(instrucao.length > 0) { %>
          <% instrucao.forEach(instrucao => { %>
            <td><%= instrucao.categoriaInstrucao %></td>
            <td><%= instrucao.temaInstrucao %></td>
            <td><a href="/novaInstrucao/index/<%= instrucao._id %>">Editar</a></td>
            <td><a class="text-danger" href="/novaInstrucao/delete/<%= instrucao._id %>">Excluir</a></td>
          </tr>
          <% }); %>
        </table>
      </div>
      <% } else { %>
        <p class="text-center lead">Não existem instruções cadastradas.</p>
      <% } %>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
