<%- include('includes/head') %>
    <%- include('includes/nav') %>
        <%- include('includes/botaoVoltar') %>

            <div class="container">
                <div class="row">
                    <div class="text-left">
                        <h1>Sumário de Instruções</h1>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <div class="card-body">

                        <% function mostraInstrucao () { %>
                            <% if (instrucao.inputCnpjEmpresa == user.inputCnpjEmpresa) { %>
                                <h2><%= instrucao.categoriaInstrucao %></h2>
                                <h3><%= instrucao.temaInstrucao %></h3>
                            <% } else { %>
                                <p>Não há instrução cadastrada</p>
                            <% } %>
                            <% console.log(`A instrucao.inputCnpjEmpresa é: ${instrucao.inputCnpjEmpresa} e o user.inputCnpjEmpresa é: ${user.inputCnpjEmpresa}`); %>
                            <% console.log() %>
                            <% console.log() %>
                        <% } %>

                        <% instrucao.forEach(mostraInstrucao) %>

                    </div>
                </div>
            </div>

            <%- include('includes/footer') %>