<%- include('includes/head') %>
  <%- include('includes/nav') %>
    <%- include('includes/botaoVoltar') %>


      <div class="container">
        <div class="row">
          <div class="col-lg-2"></div>

          <div class="col-lg-8 my-3">
            <div id="titulo" class="d-flex justify-content-sm-start py-1">
              <img class="img-thumbnail"
                style="background-color: #3CDDDD; border-radius: 15px; padding: 10px; margin: 0 15px 0 0;"
                src="/assets/img/team1.png" alt="">
              <h1 class="my-3">Usuários</h1>
            </div>
            <!-- Filtro -->
            <div class="filtro">
              <form class="table table border border-5 my-3 g-3" style="border-radius: 15px; border: solid 1px;"
                action="/usuarios/filter" method="get">
                <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                <p class="lead m-2"><strong style="color:#747777;">Pesquisar</strong></p>
                <div class="row px-4">
                  <div class="col">
                    <label for="pesquisarNome" class="form-label">Pesquise por nome, matricula ou email:</label>
                    <input id="pesquisarNome" type="text" name="pesquisarNome" class="form-control">
                  </div>

                </div>
                <div class="d-flex justify-content-end px-3 ">
                  <div class="p-2 g-col-6">
                    <button type="reset" class="btn btn-outline-info">LIMPAR</button>
                  </div>
                  <div class="p-2 g-col-6">
                    <button type="submit" class="btn btn-info">BUSCAR</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- Exibição -->

            <div class="table-bordered" style="border-bottom: 0; border-radius: 15px;">
              <table class="table table-sm">
                <p class="lead m-2"><strong style="color:#747777;">Usuários encontrados</strong></p>
                <thead class="table-secondary" style="color:#747777;">
                  </tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Matricula</th>
                  <th scope="col">Email</th>
                  <th scope="row" colspan="4">Ações</th>

                </thead>

                <%- include('includes/messages') %>

                  <% if(usuario.length> 0) { %>
                    <% usuario.forEach(usuario=> { %>
                      <% if(usuario.inputCnpjEmpresa == user.inputCnpjEmpresa) { %>
                      <% if (usuario.tipoUsuario==="administrador" ) { return; } %>
                        <tbody>
                          <td>
                            <%= usuario.inputNome %>
                          </td>
                          <td>
                            <%= usuario.inputMatricula %>
                          </td>
                          <td class="text-break">
                            <%= usuario.email %>
                          </td>
                          
                          <form action="/editarUsuario/index/<%= usuario._id %>">
                          <td><button class="text-primary btn editar-cadastro" type="submit" data-toggle="tooltip" data-placement="top" title="Editar usuário"><svg xmlns="http://www.w3.org/2000/svg"
                                width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path
                                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                              </svg></button></td></form>
                              <form action="/editarUsuario/delete/<%= usuario._id %>" id="delete">

                                <td><button type="button" class="text-danger btn confirmar-cadastro" data-toggle="modal"
                                  data-target="#exampleModalCenter" id="photoBtn" type="button" data-toggle="tooltip" data-placement="top" title="Excluir usuário"
                                  ><svg xmlns="http://www.w3.org/2000/svg"
                                  width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                  <path
                                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                  <path
                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                </svg></a></td>
                              </tr>
                            </form>
                            <% }%>
                          <% }); %>
                        </tbody>
              </table>
            </div>
            <div class="my-3 mx-3 d-sm-flex justify-content-sm-end fixed-bottom">
              <button type="button" class="btn btn-info rounded-circle p-3 lh-1"><a href="/editarUsuario/index"
                  style="text-decoration: none; color: white;" data-toggle="tooltip" data-placement="top" title="Adicionar novo usuário">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                  </svg></a></button>
            </div>

            <% } else { %>
              <p class="text-center lead">Não existem usuarios cadastrados.</p>
              <% } %>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmação</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Deseja excluir este usuário?</p>
            </div>
            <div class="modal-footer">
              <button id="btnSalvarModal1" type="button" class="btn btn-primary">Salvar</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>


      <script type="text/javascript">
        document.getElementById('btnSalvarModal1').addEventListener('click', function (event) {
          event.preventDefault(); // Impede o envio do formulário

          // Enviar os dados do formulário para o servidor
          document.getElementById('delete').submit();
        });
      </script>


      <%- include('includes/footer') %>